<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793918_HelmyMoreno/blob/main/Actividad_6_Visualizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Actividad Semanal 6 - Visualización**

# **Cargar datos**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.decomposition import PCA

In [2]:
input = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

##**Descripción de la base de datos**

Esta investigación empleó una variable binaria, pago por defecto **(Sí = 1, No = 0**), como variable de respuesta. Este estudio revisó la literatura y utilizó las siguientes **23 variables** como variables explicativas:

*   **X1**: Monto del crédito otorgado (dólar NT): incluye tanto el crédito de consumo individual como su crédito familiar (complementario).

*   **X2**: Género (1 = masculino; 2 = femenino).

*   **X3**: Educación (1 = posgrado; 2 = universidad; 3 = secundaria; 4 = otros)

*   **X4**: Estado civil (1 = casado; 2 = soltero; 3 = otros).

*   **X5**: Edad (año).

*   **X6 - X11**: Historial de pagos pasados. Hicimos un seguimiento de los registros de pagos mensuales pasados ​​(de abril a septiembre de 2005) de la siguiente manera:

    *   **X6** = el estado de pago en septiembre de 2005;
    *   **X7** = el estado de pago en agosto de 2005;
    *   **X11** = estado de amortización en abril de 2005. La escala de medición del estado de amortización es: -1 = pagar debidamente; 1 = retraso en el pago de un mes; 2 = retraso en el pago de dos meses; . . .; 8 = retraso en el pago de ocho meses; 9 = retraso en el pago de nueve meses o más.

*  **X12-X17**: Importe del estado de cuenta (dólar NT).  

    *   **X12** = monto del estado de cuenta en septiembre de 2005;
    *   **X13** = monto del estado de cuenta en agosto de 2005;
    *   **X17** = monto del estado de cuenta en abril de 2005.

*   **X18-X23**: Monto del pago anterior (dólar NT).

    *   **X18** = monto pagado en septiembre de 2005;
    *   **X19** = monto pagado en agosto de 2005;
    *   **X23** = monto pagado en abril de 2005.

# **Cargar los datos**

Base de datos (DataFrame):

In [3]:
df_pca = pd.read_csv(input, index_col=0)
df_pca.index.name = None
df_pca

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [4]:
df_pca.shape

(30000, 24)

In [5]:
print(df_pca.describe)

<bound method NDFrame.describe of            X1   X2   X3   X4    X5   X6   X7   X8   X9  X10  ...      X15  \
1       20000  2.0  2.0  1.0  24.0  2.0  2.0 -1.0 -1.0 -2.0  ...      0.0
2      120000  2.0  2.0  2.0  26.0 -1.0  2.0  0.0  0.0  0.0  ...   3272.0
3       90000  2.0  2.0  2.0  34.0  0.0  0.0  0.0  0.0  0.0  ...  14331.0
4       50000  2.0  2.0  1.0  37.0  0.0  0.0  0.0  0.0  0.0  ...  28314.0
5       50000  1.0  2.0  1.0  57.0 -1.0  0.0 -1.0  0.0  0.0  ...  20940.0
...       ...  ...  ...  ...   ...  ...  ...  ...  ...  ...  ...      ...
29996  220000  1.0  3.0  1.0  39.0  0.0  0.0  0.0  0.0  0.0  ...  88004.0
29997  150000  1.0  3.0  2.0  43.0 -1.0 -1.0 -1.0 -1.0  0.0  ...   8979.0
29998   30000  1.0  2.0  2.0  37.0  4.0  3.0  2.0 -1.0  0.0  ...  20878.0
29999   80000  1.0  3.0  1.0  41.0  1.0 -1.0  0.0  0.0  0.0  ...  52774.0
30000   50000  1.0  2.0  1.0  46.0  0.0  0.0  0.0  0.0  0.0  ...  36535.0

           X16      X17      X18      X19      X20     X21      X22     X23  \
1          0.0      0.0      0.0    689.0      0.0     0.0      0.0     0.0
2       3455.0   3261.0      0.0   1000.0   1000.0  1000.0      0.0  2000.0
3      14948.0  15549.0   1518.0   1500.0   1000.0  1000.0   1000.0  5000.0
4      28959.0  29547.0   2000.0   2019.0   1200.0  1100.0   1069.0  1000.0
5      19146.0  19131.0   2000.0  36681.0  10000.0  9000.0    689.0   679.0
...        ...      ...      ...      ...      ...     ...      ...     ...
29996  31237.0  15980.0   8500.0  20000.0   5003.0  3047.0   5000.0  1000.0
29997   5190.0      0.0   1837.0   3526.0   8998.0   129.0      0.0     0.0
29998  20582.0  19357.0      0.0      0.0  22000.0  4200.0   2000.0  3100.0
29999  11855.0  48944.0  85900.0   3409.0   1178.0  1926.0  52964.0  1804.0
30000  32428.0  15313.0   2078.0   1800.0   1430.0  1000.0   1000.0  1000.0

         Y
1      1.0
2      1.0
3      0.0
4      0.0
5      0.0
...    ...
29996  0.0
29997  0.0
29998  1.0
29999  1.0
30000  1.0

[30000 rows x 24 columns]>

El contendio de nuestro dataset es de de 30000 filas en 25 columnas.

#Renombramos las columnas

In [6]:
df_pca.rename(columns = {"X1": "Monto", "X2": "Genero", "X3": "Educacion", "X4" : "Estado_Civil", "X5" : "Edad",
                     "X6": "PAG_SEP", "X7": "PAG_AGO", "X8":"PAG_JUL", "X9": "PAG_JUN", "X10":"PAG_MAY", "X11": "AMORT.ABR", "X12": "ESTCTA_SEP", "X13": "ESTCTA_AGO", "X14": "ESTCTA_JUL", "X15":"ESTCTA_JUN",
                     "X16": "ESTCTA_MAY", "X17":"ESTCTA_ABR", "X18":"MP_SEP", "X19":"MP_AGO", "X20":"MP_JUL", "X21":"MP_JUN", "X22":"MP_MAY", "X23":"MP_ABR", "Y":"Var_Sal"}, inplace = True)
df_pca.head()

,Monto,Genero,Educacion,Estado_Civil,Edad,PAG_SEP,PAG_AGO,PAG_JUL,PAG_JUN,PAG_MAY,...,ESTCTA_JUN,ESTCTA_MAY,ESTCTA_ABR,MP_SEP,MP_AGO,MP_JUL,MP_JUN,MP_MAY,MP_ABR,Var_Sal
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

2. Información de los datos

In [7]:
print("Columnas", df_pca.columns)

Columnas Index(['Monto', 'Genero', 'Educacion', 'Estado_Civil', 'Edad', 'PAG_SEP',
       'PAG_AGO', 'PAG_JUL', 'PAG_JUN', 'PAG_MAY', 'AMORT.ABR', 'ESTCTA_SEP',
       'ESTCTA_AGO', 'ESTCTA_JUL', 'ESTCTA_JUN', 'ESTCTA_MAY', 'ESTCTA_ABR',
       'MP_SEP', 'MP_AGO', 'MP_JUL', 'MP_JUN', 'MP_MAY', 'MP_ABR', 'Var_Sal'],
      dtype='object')

In [8]:
print("Tipos", df_pca.dtypes)

Tipos Monto             int64
Genero          float64
Educacion       float64
Estado_Civil    float64
Edad            float64
PAG_SEP         float64
PAG_AGO         float64
PAG_JUL         float64
PAG_JUN         float64
PAG_MAY         float64
AMORT.ABR       float64
ESTCTA_SEP      float64
ESTCTA_AGO      float64
ESTCTA_JUL      float64
ESTCTA_JUN      float64
ESTCTA_MAY      float64
ESTCTA_ABR      float64
MP_SEP          float64
MP_AGO          float64
MP_JUL          float64
MP_JUN          float64
MP_MAY          float64
MP_ABR          float64
Var_Sal         float64
dtype: object

In [9]:
#Información de las columnas
df_pca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Monto         30000 non-null  int64
 1   Genero        29999 non-null  float64
 2   Educacion     29998 non-null  float64
 3   Estado_Civil  29998 non-null  float64
 4   Edad          29995 non-null  float64
 5   PAG_SEP       29997 non-null  float64
 6   PAG_AGO       29995 non-null  float64
 7   PAG_JUL       29993 non-null  float64
 8   PAG_JUN       29991 non-null  float64
 9   PAG_MAY       29984 non-null  float64
 10  AMORT.ABR     29986 non-null  float64
 11  ESTCTA_SEP    29989 non-null  float64
 12  ESTCTA_AGO    29989 non-null  float64
 13  ESTCTA_JUL    29987 non-null  float64
 14  ESTCTA_JUN    29985 non-null  float64
 15  ESTCTA_MAY    29983 non-null  float64
 16  ESTCTA_ABR    29990 non-null  float64
 17  MP_SEP        29992 non-null  float64
 18  MP_AGO        29991 non-null  float64
 19  MP_JUL        29992 non-null  float64
 20  MP_JUN        29989 non-null  float64
 21  MP_MAY        29989 non-null  float64
 22  MP_ABR        29995 non-null  float64
 23  Var_Sal       29997 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB

In [20]:
df_pca.isna().sum().sort_values(ascending=False)

ESTCTA_MAY      17
PAG_MAY         16
ESTCTA_JUN      15
AMORT.ABR       14
ESTCTA_JUL      13
ESTCTA_SEP      11
ESTCTA_AGO      11
MP_JUN          11
MP_MAY          11
ESTCTA_ABR      10
PAG_JUN          9
MP_AGO           9
MP_JUL           8
MP_SEP           8
PAG_JUL          7
PAG_AGO          5
Edad             5
MP_ABR           5
Var_Sal          3
PAG_SEP          3
Estado_Civil     2
Educacion        2
Genero           1
Monto            0
dtype: int64

In [21]:
df_pca.head(10)

,Monto,Genero,Educacion,Estado_Civil,Edad,PAG_SEP,PAG_AGO,PAG_JUL,PAG_JUN,PAG_MAY,...,ESTCTA_JUN,ESTCTA_MAY,ESTCTA_ABR,MP_SEP,MP_AGO,MP_JUL,MP_JUN,MP_MAY,MP_ABR,Var_Sal
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
6,50000,1.0,1.0,2.0,37.0,0.0,0.0,0.0,0.0,0.0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0.0
7,500000,1.0,1.0,2.0,29.0,0.0,0.0,0.0,0.0,0.0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0.0
8,100000,2.0,2.0,2.0,23.0,0.0,-1.0,-1.0,0.0,0.0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0.0
9,140000,2.0,3.0,1.0,28.0,0.0,0.0,2.0,0.0,0.0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0.0
10,20000,1.0,3.0,2.0,35.0,-2.0,-2.0,-2.0,-2.0,-1.0,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0.0

In [22]:
df_pca.shape

(30000, 24)

# Nos llevamos todos los valores vacíos

In [23]:
X = df_pca.iloc[0:, 0:25]
y = df_pca.iloc[:, -1]

In [15]:
X.shape

(30000, 24)

In [16]:
y.shape

(30000,)

3. Limpia los datos eliminando los registros nulos o rellena con la media de la columna

In [24]:
df_pca.isnull().sum()

Monto            0
Genero           1
Educacion        2
Estado_Civil     2
Edad             5
PAG_SEP          3
PAG_AGO          5
PAG_JUL          7
PAG_JUN          9
PAG_MAY         16
AMORT.ABR       14
ESTCTA_SEP      11
ESTCTA_AGO      11
ESTCTA_JUL      13
ESTCTA_JUN      15
ESTCTA_MAY      17
ESTCTA_ABR      10
MP_SEP           8
MP_AGO           9
MP_JUL           8
MP_JUN          11
MP_MAY          11
MP_ABR           5
Var_Sal          3
dtype: int64

In [26]:
# Reemplazamos campos vacíos por 0 y dejamos 10 filas como muestra para trabajar
df_pca.dropna(axis = 0, inplace=True)
df_pca.head()

,Monto,Genero,Educacion,Estado_Civil,Edad,PAG_SEP,PAG_AGO,PAG_JUL,PAG_JUN,PAG_MAY,...,ESTCTA_JUN,ESTCTA_MAY,ESTCTA_ABR,MP_SEP,MP_AGO,MP_JUL,MP_JUN,MP_MAY,MP_ABR,Var_Sal
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [28]:
df_pca.isna().any()

Monto           False
Genero          False
Educacion       False
Estado_Civil    False
Edad            False
PAG_SEP         False
PAG_AGO         False
PAG_JUL         False
PAG_JUN         False
PAG_MAY         False
AMORT.ABR       False
ESTCTA_SEP      False
ESTCTA_AGO      False
ESTCTA_JUL      False
ESTCTA_JUN      False
ESTCTA_MAY      False
ESTCTA_ABR      False
MP_SEP          False
MP_AGO          False
MP_JUL          False
MP_JUN          False
MP_MAY          False
MP_ABR          False
Var_Sal         False
dtype: bool

4. Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión

In [29]:
df_pca.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Monto,29958.0,167555.900928,129737.299088,10000.0,50000.00,140000.0,240000.00,1000000.0
Genero,29958.0,1.604012,0.489070,1.0,1.00,2.0,2.00,2.0
Educacion,29958.0,1.853094,0.790471,0.0,1.00,2.0,2.00,6.0
Estado_Civil,29958.0,1.551739,0.521952,0.0,1.00,2.0,2.00,3.0
Edad,29958.0,35.483443,9.214319,21.0,28.00,34.0,41.00,79.0
PAG_SEP,29958.0,-0.017124,1.123989,-2.0,-1.00,0.0,0.00,8.0
PAG_AGO,29958.0,-0.134021,1.197171,-2.0,-1.00,0.0,0.00,8.0
PAG_JUL,29958.0,-0.166767,1.196026,-2.0,-1.00,0.0,0.00,8.0
PAG_JUN,29958.0,-0.221110,1.168419,-2.0,-1.00,0.0,0.00,8.0
PAG_MAY,29958.0,-0.266807,1.132307,-2.0,-1.00,0.0,0.00,8.0
AMORT.ABR,29958.0,-0.291575,1.149303,-2.0,-1.00,0.0,0.00,8.0
ESTCTA_SEP,29958.0,51248.119901,73674.949943,-165580.0,3559.25,22379.0,67190.00,964511.0
ESTCTA_AGO,29958.0,49200.493825,71211.232744,-69777.0,2984.00,21194.5,64027.75,983931.0
ESTCTA_JUL,29958.0,47032.385273,69385.243340,-157264.0,2664.75,20085.5,60183.00,1664089.0
ESTCTA_JUN,29958.0,43279.335370,64364.684347,-170000.0,2327.50,19037.5,54551.25,891586.0
ESTCTA_MAY,29958.0,40328.984578,60826.219326,-81334.0,1762.25,18104.5,50220.75,927171.0
ESTCTA_ABR,29958.0,38889.925763,59582.883301,-339603.0,1256.00,17067.5,49234.75,961664.0
MP_SEP,29958.0,5664.614460,16568.823518,0.0,1000.00,2100.0,5007.00,873552.0
MP_AGO,29958.0,5925.715468,23055.983864,0.0,835.25,2009.0,5000.00,1684259.0
MP_JUL,29958.0,5228.429969,17617.338167,0.0,390.00,1800.0,4511.50,896040.0
MP_JUN,29958.0,4829.873556,15676.205514,0.0,296.25,1500.0,4014.75,621000.0
MP_MAY,29958.0,4801.481574,15285.552652,0.0,253.25,1500.0,4040.00,426529.0
MP_ABR,29958.0,5220.708025,17788.983767,0.0,118.00,1500.0,4000.00,528666.0
Var_Sal,29958.0,0.221143,0.415023,0.0,0.00,0.0,0.00,1.0

5. Realiza el conteo de las variables categóricas

In [36]:
#Realizamos copia del DataFrame
df_pca_change = df_pca.copy()

In [52]:
Conteo_cat = df_pca_change.drop(["Monto", "ESTCTA_SEP", "ESTCTA_AGO", "ESTCTA_JUL", "ESTCTA_JUN", "ESTCTA_MAY", "ESTCTA_ABR", "MP_SEP", "MP_AGO", "MP_JUL", "MP_JUN", "MP_MAY", "MP_ABR"], axis = 1)
Conteo_cat

,Genero,Educacion,Estado_Civil,Edad,PAG_SEP,PAG_AGO,PAG_JUL,PAG_JUN,PAG_MAY,AMORT.ABR,Var_Sal
1,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,1.0
2,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,1.0
3,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
29996,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29997,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0
29998,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,1.0
29999,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,1.0
30000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [59]:
Conteo_num = df_pca_change.drop(["Genero", "Educacion", "Estado_Civil", "PAG_SEP", "PAG_AGO", "PAG_JUL", "PAG_JUN", "PAG_MAY", "AMORT.ABR", "Var_Sal"], axis = 1)
Conteo_num
Conteo_num.head()

,Monto,Edad,ESTCTA_SEP,ESTCTA_AGO,ESTCTA_JUL,ESTCTA_JUN,ESTCTA_MAY,ESTCTA_ABR,MP_SEP,MP_AGO,MP_JUL,MP_JUN,MP_MAY,MP_ABR
1,20000,24.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
2,120000,26.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
3,90000,34.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
4,50000,37.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
5,50000,57.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0

In [60]:
Conteo_num.corr()

,Monto,Edad,ESTCTA_SEP,ESTCTA_AGO,ESTCTA_JUL,ESTCTA_JUN,ESTCTA_MAY,ESTCTA_ABR,MP_SEP,MP_AGO,MP_JUL,MP_JUN,MP_MAY,MP_ABR
Monto,1.000000,0.144515,0.285616,0.278435,0.283373,0.294090,0.295625,0.290517,0.195026,0.178320,0.210052,0.203187,0.216990,0.219567
Edad,0.144515,1.000000,0.056357,0.054469,0.053911,0.051528,0.049515,0.047810,0.025995,0.021820,0.029262,0.021338,0.022811,0.019533
ESTCTA_SEP,0.285616,0.056357,1.000000,0.951494,0.892272,0.860273,0.829781,0.802638,0.140276,0.099301,0.156856,0.158260,0.167010,0.179287
ESTCTA_AGO,0.278435,0.054469,0.951494,1.000000,0.928306,0.892456,0.859756,0.831570,0.280323,0.100770,0.150631,0.147338,0.157848,0.174180
ESTCTA_JUL,0.283373,0.053911,0.892272,0.928306,1.000000,0.923953,0.883893,0.853302,0.244291,0.316904,0.129933,0.143343,0.179617,0.182257
ESTCTA_JUN,0.294090,0.051528,0.860273,0.892456,0.923953,1.000000,0.940133,0.900931,0.232916,0.207498,0.299953,0.130124,0.160283,0.177562
ESTCTA_MAY,0.295625,0.049515,0.829781,0.859756,0.883893,0.940133,1.000000,0.946187,0.216967,0.181177,0.252229,0.293084,0.141421,0.164102
ESTCTA_ABR,0.290517,0.047810,0.802638,0.831570,0.853302,0.900931,0.946187,1.000000,0.199966,0.172615,0.233710,0.250218,0.307691,0.115415
MP_SEP,0.195026,0.025995,0.140276,0.280323,0.244291,0.232916,0.216967,0.199966,1.000000,0.285522,0.252063,0.199491,0.148102,0.185659
MP_AGO,0.178320,0.021820,0.099301,0.100770,0.316904,0.207498,0.181177,0.172615,0.285522,1.000000,0.244709,0.180043,0.180800,0.157563
MP_JUL,0.210052,0.029262,0.156856,0.150631,0.129933,0.299953,0.252229,0.233710,0.252063,0.244709,1.000000,0.216281,0.159028,0.162667
MP_JUN,0.203187,0.021338,0.158260,0.147338,0.143343,0.130124,0.293084,0.250218,0.199491,0.180043,0.216281,1.000000,0.151733,0.157762
MP_MAY,0.216990,0.022811,0.167010,0.157848,0.179617,0.160283,0.141421,0.307691,0.148102,0.180800,0.159028,0.151733,1.000000,0.154790
MP_ABR,0.219567,0.019533,0.179287,0.174180,0.182257,0.177562,0.164102,0.115415,0.185659,0.157563,0.162667,0.157762,0.154790,1.000000

6. Escalamos

In [61]:
scaler = StandardScaler()
scaled = scaler.fit_transform(Conteo_num)

scaled[:5]

array([[-1.13736269, -1.24628151, -0.64249667, -0.64735943, -0.66792529,
        -0.67241933, -0.66303081, -0.65271388, -0.34188963, -0.22713422,
        -0.29678248, -0.30810735, -0.31412418, -0.29348473],
       [-0.36656147, -1.0292244 , -0.65920548, -0.66669659, -0.63920112,
        -0.62158315, -0.6062287 , -0.59798248, -0.34188963, -0.21364509,
        -0.24001926, -0.24431534, -0.31412418, -0.18105373],
       [-0.59780183, -0.16099598, -0.29873773, -0.49394006, -0.48243607,
        -0.44976246, -0.41727743, -0.39174531, -0.25027025, -0.19195838,
        -0.24001926, -0.24431534, -0.24870184, -0.01240721],
       [-0.90612232,  0.16458968, -0.057797  , -0.01358648,  0.03255235,
        -0.23251237, -0.18692884, -0.15680815, -0.22117899, -0.16944758,
        -0.22866662, -0.23793614, -0.2441877 , -0.23726923],
       [-0.90612232,  2.33516075, -0.57864758, -0.6112971 , -0.16138262,
        -0.34708021, -0.34825998, -0.33162637, -0.22117899,  1.33396163,
         0.27084964,  0.26602076, -0.26904819, -0.25531441]])

7. Reduce las dimensiones con PCA, si consideras necesario:
  - Indica la varianza de los datos explicada por cada componente seleccionado. Para actividades de exploración de los datos la varianza > 70%

In [62]:
scaled_df = pd.DataFrame(scaled, columns=Conteo_num.columns)
scaled_df.head()

,Monto,Edad,ESTCTA_SEP,ESTCTA_AGO,ESTCTA_JUL,ESTCTA_JUN,ESTCTA_MAY,ESTCTA_ABR,MP_SEP,MP_AGO,MP_JUL,MP_JUN,MP_MAY,MP_ABR
0,-1.137363,-1.246282,-0.642497,-0.647359,-0.667925,-0.672419,-0.663031,-0.652714,-0.341890,-0.227134,-0.296782,-0.308107,-0.314124,-0.293485
1,-0.366561,-1.029224,-0.659205,-0.666697,-0.639201,-0.621583,-0.606229,-0.597982,-0.341890,-0.213645,-0.240019,-0.244315,-0.314124,-0.181054
2,-0.597802,-0.160996,-0.298738,-0.493940,-0.482436,-0.449762,-0.417277,-0.391745,-0.250270,-0.191958,-0.240019,-0.244315,-0.248702,-0.012407
3,-0.906122,0.164590,-0.057797,-0.013586,0.032552,-0.232512,-0.186929,-0.156808,-0.221179,-0.169448,-0.228667,-0.237936,-0.244188,-0.237269
4,-0.906122,2.335161,-0.578648,-0.611297,-0.161383,-0.347080,-0.348260,-0.331626,-0.221179,1.333962,0.270850,0.266021,-0.269048,-0.255314

In [63]:
col_num = ["Monto", "Edad", "ESTCTA_SEP",	"ESTCTA_AGO", "ESTCTA_JUL", "ESTCTA_JUN",	"ESTCTA_MAY", "ESTCTA_ABR", "MP_SEP",	"MP_AGO",	"MP_JUL",	"MP_JUN", "MP_MAY", "MP_ABR"]

summary = {
  "Varianzas": scaled_df[col_num].var()[0:11],
  "Valor Min": scaled_df[col_num].min()[0:11],
  "Valor Max": scaled_df[col_num].max()[0:11]
}
#recuerda que la variable col_num la definimos más arriba.
pd.DataFrame(summary, index = col_num).transpose()

,Monto,Edad,ESTCTA_SEP,ESTCTA_AGO,ESTCTA_JUL,ESTCTA_JUN,ESTCTA_MAY,ESTCTA_ABR,MP_SEP,MP_AGO,MP_JUL,MP_JUN,MP_MAY,MP_ABR
Varianzas,1.000033,1.000033,1.000033,1.000033,1.000033,1.000033,1.000033,1.000033,1.000033,1.000033,1.000033,NaN,NaN,NaN
Valor Min,-1.214443,-1.571867,-2.943086,-1.670797,-2.944427,-3.313663,-2.000207,-6.352483,-0.341890,-0.257018,-0.296782,NaN,NaN,NaN
Valor Max,6.416489,4.722789,12.396047,13.126386,23.305872,13.179911,14.580173,15.487493,52.381623,72.795041,50.565325,NaN,NaN,NaN

In [64]:
t_gen = Conteo_num.var().sum()

In [69]:
var_Monto = Conteo_num.Monto.var()

print('Varianza Total \t:',t_gen.round(2) )
print('Varianza Monto :', ((var_Monto/t_gen)*100).round(2),'%' )

Varianza Total 	: 45450192693.29
Varianza Monto : 37.03 %

In [72]:
t_MP_SEP = Conteo_num.var().sum()

var_Edad = Conteo_num.MP_SEP.var()

print('Varianza Total \t:', t_MP_SEP.round(2) )
print('Varianza MP_SEP:', ((var_Edad/t_MP_SEP)*100).round(2),'%' )

Varianza Total 	: 45450192693.29
Varianza MP_SEP: 0.6 %

In [ ]:
t_ESTCTA_SEP = Conteo_num.var().sum()

var_Estado_Civil = Conteo_num.Estado_Civil.var()

print('Varianza Total \t:', t_ESTCTA_SEP.round(2) )
print('Varianza Estado de Cuenta Septiembre 2005:', ((var_Estado_Civil/t_ESTCTA_SEP)*100).round(2),'%' )

In [ ]:
df_varianza = PCA()
df_varianza.fit(Conteo_num.iloc[:, 1:].dropna(axis=0))
df_varianzaSummary= pd.DataFrame({'Standard deviation': np.sqrt(df_varianza.explained_variance_),
                             'Proportion of variance': df_varianza.explained_variance_ratio_,
                             'Cumulative proportion': np.cumsum(df_varianza.explained_variance_ratio_)
                             })
df_varianzaSummary = df_varianzaSummary.transpose()
df_varianzaSummary

8. Elabora los histogramas de los atributos para visualizar su distribución

In [ ]:
PC_components = np.arange(df_varianza.n_components_) + 1
#PC_components

_ = sns.set(style = 'whitegrid', 
            font_scale = 1.2
            )

fig, ax = plt.subplots(figsize=(10, 5))

_ = sns.barplot(x = PC_components, 
                y = df_varianza.explained_variance_ratio_, 
                color = 'purple'
                )

_ = sns.lineplot(x = PC_components-1, 
                 y = np.cumsum(df_varianza.explained_variance_ratio_), 
                 color = 'purple', 
                 linestyle = '-', 
                 linewidth = 1, 
                 marker = 'o', 
                 markersize = 8
                 )

plt.title('Distribución')
plt.xlabel('Principales Componentes')
plt.ylabel('Varianza explicada')
plt.ylim(0, 1)
plt.show()

In [ ]:
((df_varianzaSummary.iloc[2][2])*100).round(0)

In [ ]:
((df_varianzaSummary.iloc[2][1])*100).round(2)

In [ ]:
df_varianzaSummary.columns = ['PC{}'.format(i) for i in range(1, len(df_varianzaSummary.columns) + 1)]
df_varianzaSummary.round(4)

In [ ]:
df_varianza.components_

In [ ]:
pcsComponents_df = pd.DataFrame(df_varianza.components_.transpose(), 
                                columns = df_varianzaSummary.columns,
                                index = df_cat.iloc[:, 1:].columns
                                )
pcsComponents_df.iloc[:,:11]

- Preprocesamiento

In [ ]:
pcsComponents_dfX = pd.DataFrame(df_varianza.components_.transpose(), 
                                columns = df_varianzaSummary.columns,
                                index = df_cat.iloc[:, 1:].columns
                                )
pcsComponents_dfX

In [ ]:
df_varianzaSummary.iloc[:, 0:].head()

In [ ]:
pcs = PCA()
pcs.fit(preprocessing.scale(df_varianzaSummary.iloc[:, 0:].dropna(axis=0)))

In [ ]:
pcsSummary_df = pd.DataFrame({'Standard deviation': np.sqrt(pcs.explained_variance_),
                             'Proportion of variance': pcs.explained_variance_ratio_,
                             'Cumulative proportion': np.cumsum(pcs.explained_variance_ratio_)
                             })

pcsSummary_df = pcsSummary_df.transpose()
pcsSummary_df.columns = ['PC{}'.format(i) for i in range(1, len(pcsSummary_df.columns) + 1)]
pcsSummary_df.round(4)

In [ ]:
pcsSummary_df.iloc[0,2]

- Decomposición

In [ ]:
pcs = PCA()

In [ ]:
pcs_t = pcs.fit_transform(scaled_df)
pcs_t[:10]

• El % de la varianza explicada por cada componente

• El acumulado de la varianza explicada por cada componente

In [ ]:
pcsSummary_df = pd.DataFrame({
                              '% varianza explicada': np.round(pcs.
                                                               explained_variance_ratio_,4) * 100,
                              '% varianza acumulada': np.cumsum(pcs.
                                                                explained_variance_ratio_) * 100})
pcsSummary_df

**Agregamos etiquetas**

In [ ]:
#Lista de nombre de los componentes

pcs_labels = [f'PC{i + 1}' for i in range(len(scaled_df.columns))]
pcsSummary_df.index = pcs_labels
pcsSummary_df

In [ ]:
#colocamos valores de cada componente
pcs_df = pd.DataFrame(pcs_t, columns =pcs_labels)

print("Varianza total variables originales: ", scaled_df.var().sum())
print("Varianza total de los componentes: ", pcs_df.var().sum())

In [ ]:
total_var =scaled_df.var().sum()

pd.DataFrame({
  "Porcentaje Varianza": (scaled_df.var()/ total_var) * 100,
  "Porcentaje Varianza Acumulado": (scaled_df.var().cumsum() / total_var) *100
})

**Composición de cada componente arrojado por PCA**

In [ ]:
comps_df = pd.DataFrame(
  pcs.components_.round(4), # pcs.components  = pesos de cada uno de los componentes
  columns = pcs_df.columns,
  index = scaled_df.columns) 
comps_df.iloc[:,:10]

In [ ]:
pcsSummary_df = pd.DataFrame({'Standard deviation': np.sqrt(pcs.explained_variance_),
                             'Proportion of variance': pcs.explained_variance_ratio_,
                             'Cumulative proportion': np.cumsum(pcs.explained_variance_ratio_)
                             })

pcsSummary_df = pcsSummary_df.transpose()
pcsSummary_df.columns = ['PC{}'.format(i) for i in range(1, len(pcsSummary_df.columns) + 1)]
pcsSummary_df.round(4)

In [ ]:
comps_df.iloc[:,:5].abs().idxmax()

In [ ]:
comps_df.iloc[:,:10].abs().idxmax()

In [ ]:
comps_df.PC1.idxmax()

In [ ]:
comps_df.PC2.idxmin()

In [ ]:
comps_df.PC1.nsmallest(3)

9. Realiza la visualización de los datos usando por lo menos 3 gráficos que consideres adecuados: plot, scatter, jointplot, boxplot, areaplot, pie chart, pairplot, bar chart, etc.

**Educación vs Género**