<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Handrum/blob/main/Avance2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Writing Your First Python Code")

Writing Your First Python Code

**OBJETIVOS DE ESCRIBIR MI PRIMER CÓDIGO**


1.   Tipos de datos
1.   Elemento de lista
2.   Convertir los tipos de datos a otro
2.   Usar expresiones y variables para realizar operaciones

**Revisión de versión**

La versión 3 es la versión donde actualmente se trabajan los proyectos. Cómo se verifica en el sistema?

Ejecuta el siguiente código:

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

**sys** es un **módulo integrado** que contiene muchos **parámetros** y **funciones**. Antes de usarlo se debe importa.

**Mi primer línea de código**

**Print**() es una función. Imprime la instrucción o argumnento que tenga dentro de los paréntesis. Ejemplo:

In [3]:
# Try your first Python output

print('Hello, Python!')

Hello, Python!

Comentarios (**commentt**) en Pyton:

Es una metodología que se aplica con el fin de darle orden al código que se escribe al programar. Ayuda tanto a la persona que lo realiza como a cualquier desarrolador que desee verificar o testear el código, ya sea en el momento o posteriormente.

En Python se usa el símbolo # al comenzar el comentario. Cabe decir que estas líneas no son ejecutable ni visibles al imprimir el código. Quedan únicamente para el backend que realiza el código. Ejemplo:

In [5]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

**Tipos de Errores en Python**

Error de escritura de una función que no ha sido definida previamente, el sistema lo desconoce indicando el TIPO DE ERROR (**NameError**) y la línea que contiene el error. Ejemplo:

In [6]:
# Print string as error message

frint("Hello, Python!")

NameError: ignored

Ahora bien si no se cierra la cadena, nos arrojaría otro TIPO DE ERROR (**SyntaxError:**). Ejemplo:

In [7]:
# Try to see built-in error message, SyntaxError

print("Hello, Python!)

SyntaxError: ignored

**NOTA IMPORTANTE:** "Python es un lenguaje **INTERPRETADO**. Por lo anterior, Python interpreta línea por línea y dejará de ejecutar todo el programa cuando encuentre un error hasta que lo encontremos". Por lo anterior, no lo ejecutará.

https://labs.cognitiveclass.ai/v2/tools/jupyterlite?ulid=ulid-fb1155ab19470bd3993c74fc957af30167689886

Ejemplo:

In [8]:
# Print string and error NameError to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

In [24]:
#Ejemplo ERROR de VALOR "ValueERROR":

int('1 or 2 people')

ValueError: ignored

**Exercise: Your First Program**

In [9]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

print("Hello, world!")

Hello, world!

In [12]:
#Print the traditional hello world</code> all in one line of code.

print("Hello, world!") # Print the traditional hello world

Hello, world!

**1. TIPOS DE OBJETOS (DATOS) EN PYTHON**

**Números**:
Racionales o Irracionales (En Python se conocen como **ENTEROS** (**int**) o **FLOTANTES** (**float**))

Palabras o cadena de caracteres: En Python se conocen como **STRING** (**str**)

Para conocer que tipo de objeto es una expresión dada se coloca la **función** **type()** colocando la expresión dentro del paréntesis. Ejemplo:

In [14]:
type(9)

int

In [15]:
type("Hello world")

str

In [16]:
type(0.25)

float

**NOTA IMPORTANTE:** "Puede obtener más información sobre las especificaciones de los elementos flotantes para su entorno de tiempo de ejecución comprobando el valor de sys.float_info. Esto también te dirá cuál es el número más grande y más pequeño que se puede representar con ellos."

https://labs.cognitiveclass.ai/v2/tools/jupyterlite?ulid=ulid-fb1155ab19470bd3993c74fc957af30167689886

Ejemplo:

In [17]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

**3. Convertir los tipos de datos a otro**

**- De enteros a flotantes o de flotantes a enteros:**

Se puede convertir un objeto un entero (int) a flotante (float)?

La respuesta es SI. Veamos cómo se puede realizar, ejemplo:

1. Verificamos el tipo de dato:

In [18]:
# Verify that this is an integer

type(2)

int

2. Convertir 2 a flotante

In [19]:
# Convert 2 to a float

float(2)

2.0

In [20]:
# Convertir un entero 2 a flotante y revisar el tipo

type(float(2))

float

**NOTA IMPORTANTE:** Es necesario saber que cuando se convierte un número flotante a entero se puede perder inforamción. Ejemplo pasar un flotante 1.5 a entero. En el ejemplo siguiente se perdería 0.5:

In [21]:
int(1.5)

1

**-  De cadena de caracteres (str) a enteros (int) o flotantes ()float:**

Podemos ejecutar la siguiente operación usando int(). Ejemplo:

In [22]:
int ("7")

7

**NOTA IMPORTANTE:** "Si intenta hacerlo con una cadena que no es una coincidencia perfecta para un número, obtendrá un error". Ejemplo:

In [23]:
int('1 or 2 people')

ValueError: ignored

Puede convertir una **cadena de caracteres (str)** que contenga puntos en un **flotante(float)**. Ejemplo:

In [25]:
# Convert the string "1.2" into a float

float('1.2')

1.2

**NOTA IMPORTANTE:** Las cadenas de caracteres (**str**) se pueden representar por comillas dobles "" o sencillas '', pero nunca combinarlas. Ejemplo:

In [26]:
#Ejemplo

float("1.2')

SyntaxError: ignored

**- Convertir números en cadenas**

Se pueden convertir números en cadenas de caracteres y en números flotantes. Ejemplo:

In [27]:
# Convert an integer to a string

str(1)

'1'

In [28]:
# Convert a float to a string

str(1.2)

'1.2'

**- OTRO TIPO DE DATOS: BOLEANOS (bool)**

Pueden tomar solo 2 valores: VERDADERO(T or TRUE) O FALSO (F or FALSE):

In [29]:
# Type of True

type(True)

bool

In [30]:
# Type of False

type(False)

bool

Podemos convertir un boleano (bool) a un entero o flotante o de forma invertida. Arrojándonos un valor diferente para cada uno. 

Si deseamos un entero o flotante para TRUE(T) el valor será 1 y si es para FALSE (F) el valor será 0. Ejemplo:

In [31]:
# Convert True to int

int(True)

1

In [32]:
# Convert 1 to boolean

bool(1)

True

In [33]:
# Convert 0 to boolean

bool(0)

False

In [34]:
# Convert True to float

float(True)

1.0

**EJERCICIOS**

In [36]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

type(6//2) # int, as the double slashes stand for integer division

int

**Expresión y Variables**